{% extends "layout/app.html" %}

{% block page_title %}Sending Email{% endblock %}

{% block head_tail %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
<section class="content-header">
  <h1>
    Sending Email
  </h1>
</section>

{% if based_query %}
<div class="pad margin no-print">
  <div class="callout callout-info" style="margin-left: -5px; margin-right: -5px; margin-bottom: 0!important;">
    <h4>Sending email to users based query blew:</h4>
    <pre>{{ based_query.sql }}</pre>
  </div>
</div>
{% else %}
<div class="pad margin no-print">
  <div class="callout callout-danger" style="margin-left: -5px; margin-right: -5px; margin-bottom: 0!important;">
    <h4 style="margin-bottom: 0!important;">Sending email to ALL users in this screen.</h4>
  </div>
</div>
{% endif %}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary" id="editor-box">
                <div class="box-header" style="padding-bottom: 2px;">
                    <div class="row">
                       <div class="col-md-2">
                          <div class="form-group">
                             <label>Status</label>
                             <select class="form-control select2" style="width: 100%;" id="sendgrid-status">
                                <option value="All" selected="selected">All</option>
                                {% for status in statuses %}
                                <option>{{status}}</option>
                                {% endfor %}
                             </select>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group">
                             <label>Campaign name</label>
                             <select class="form-control select2" style="width: 100%;" id="sendgrid-campaign">
                                {% for campaign in campaigns %}
                                <option value="{{campaign['id']}}">{{campaign['title']}}</option>
                                {% endfor %}
                             </select>
                          </div>
                       </div>
                       <div class="col-md-2">
                          <div class="form-group">
                             <label>Scheduled at (EST)</label>
                             <div class="input-group" style="width: 100%;">
                                <div class="input-group-addon">
                                   <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="send-scheduled-at">
                             </div>
                          </div>
                       </div>
                       <div class="col-md-2">
                          <div class="form-group">
                             <div style="margin-top: 24px;">
                                <button type="button" class="btn btn-success" id="btn-executive-apply">Apply</button>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                       <div class="col-md-12">
                          <div class="form-group" style="margin-bottom: 0px; overflow: hidden;">
                              <iframe id="sendgrid-preview" src="about:blank" width="100%" height="500px" style="border: 1px solid #DDD;">{{campaigns[0]['html_content'] | safe}}</iframe>
                          </div>
                       </div>
                    </div>
                </div>
                <!--<div class="box-footer clearfix">
                </div>-->
            </div>

            <div class="nav-tabs-custom" id="tabs-box">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-history" data-toggle="tab" aria-expanded="true"> History </a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active table-responsive" id="tab-history">
                    <table id="history-table" class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="999">
                                <div class="text-center">
                                    There are no items in the history table.
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- /.tab-content -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body_tail %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>

    <script type="text/javascript">

    var campaigns = {{campaigns | safe}};
    var statuses = {{statuses | safe}};
    var currentCampaignId = null;

    var historyTableColumns = ['id', 'based_query_id', 'scheduled_at', 'requested_by', 'message', 'status', 'created_at'];

    $(document).ready(function() {

      $(".select2").select2();

      $('#send-scheduled-at').daterangepicker({
          opens: 'right',
          showDropdowns: true,
          autoApply: true,
          singleDatePicker: true,
          timePicker: true,
          timePicker24Hour: true,
          locale: {
            format: 'YYYY-MM-DD HH:mm:ss',
          },
          minDate: moment()
      });

      ////////////////////

      var loadingOverlayConfig = {
          image       : '',
          fontawesome : 'fa fa-spinner fa-spin',
          maxSize     : "26px",
          minSize     : "26px"
      }

      function startRequestLoading() {
          $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
      }

      function stopRequestLoading() {
          $('#editor-box').LoadingOverlay('hide', true);
      }

      ////////////////////

      function reloadEmailPreview(html_content) {
            var doc = document.getElementById('sendgrid-preview').contentWindow.document;
            doc.open();
            doc.write(html_content);
            doc.close();
      }

      function previewPlaceholderContent(subject) {
            return '<div style="margin: 0 auto; width: 200px; padding-top: 230px; font-size: 13px; color: #AAA; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-family: \'Source Sans Pro\',\'Helvetica Neue\',Helvetica,Arial,sans-serif; font-weight: 400;">' + subject + '</div>'
      }

      $('#sendgrid-status').on('change', function() {
            var currentStatus = $(this).find(":selected").val();
            var filteredCampaigns = [];

            if (currentStatus == 'All') {
                filteredCampaigns = campaigns;
            } else {
                $(campaigns).each(function(x) {
                    if (x.status == currentStatus) {
                        filteredCampaigns.push(x);
                    }
                });
            }

            $('#sendgrid-campaign').empty();
            $(filteredCampaigns).each(function(i, obj) {
                $('#sendgrid-campaign').append('<option value="' + obj.id + '">' + obj.title + '</option>');
            });
            $('#sendgrid-campaign').trigger("change");
      });

      $('#sendgrid-campaign').on('change', function() {
            currentCampaignId = $(this).find(":selected").val();

            if (!!!currentCampaignId) {
                reloadEmailPreview(previewPlaceholderContent('[ Nothing to preview ]'));
                return;
            }

            reloadEmailPreview(previewPlaceholderContent('[ Rendering ]'));

            $.ajax({
                type: 'GET',
                url: '/promotion/email/campaign_html_content',
                data: {
                    campaign_id: currentCampaignId
                },
                dataType: 'json',
                success: function(result) {
                    reloadEmailPreview(result.html_content);
                },
                error: function(xhr) {
                }
            });
      });
      $('#sendgrid-campaign').trigger("change");

      ////////////////////

      {% if based_query %}
        var basedQueryId = {{ based_query.id }};
        var submitConfirmAlert = 'Do you want to send email to users based query in the screen?';
      {% else %}
        var basedQueryId = null;
        var submitConfirmAlert = 'Do you want to send email to ALL users?';
      {% endif %}

      var retryConfirmAlert = 'Do you want to retry?';

      $('#btn-send').click(function() {
          if ( $('#message-editor').val().length === 0) return;

          if (!confirm(submitConfirmAlert)) {
              return;
          }

          startRequestLoading();

          $.ajax({
              type: 'POST',
              url: '/promotion/email/sender',
              data: basedQueryId === null ? { 'scheduled_at': $('#send-scheduled-at').val(), message: $('#message-editor').val() } : { 'scheduled_at': $('#send-scheduled-at').val(), message: $('#message-editor').val(), based_query_id: basedQueryId },
              dataType: "json",
              success: function(result) {
                  alert('Your request has submitted successfully. Please wait background job to processing your request.');
                  stopRequestLoading();
                  getPushHistories();
              },
              error: function(xhr) {
                  alert('Error: ' + JSON.parse(xhr.responseText).error);
                  stopRequestLoading();
              }
          });
      });

      function getPushHistories() {
            $.ajax({
                type: 'GET',
                url: '/promotion/email/histories',
                dataType: "json",
                success: function(result) {
                    var headers = []
                    headers.push('<tr>')
                    for (var i in historyTableColumns) {
                        var column = historyTableColumns[i];
                        if (column === 'based_query_id') {
                            column = 'based query';
                        } else if (column === 'requested_by') {
                            column = 'requested by';
                        }
                        headers.push('<th>' + column + '</th>')
                    }
                    headers.push('<th style="width: 128px;"></th>');
                    headers.push('</tr>');
                    $('#history-table thead').html(headers.join());

                    var rows = [];
                    for (var j in result.data) {
                        var row = result.data[j];
                        rows.push('<tr>')
                        for (var i in historyTableColumns) {
                            var column = historyTableColumns[i];
                            if (column === 'based_query_id') {
                                if (row[column] === null) {
                                    rows.push('<td></td>');
                                } else {
                                    rows.push('<td><pre>' + row['based_query_sql'] + '</pre></td>');
                                }
                            } else if (column === 'status') {
                                if (row[column] === 'failed') {
                                    rows.push('<td>' +
                                                '<span class="text-red">Prepare failed</span><br />' + 
                                              '</td>'); 
                                } else if (row[column] === 'pending') {
                                    rows.push('<td>' +
                                                '<span class="text-muted">Pending</span><br />' + 
                                              '</td>'); 
                                } else if (row[column] === 'preparing') {
                                    rows.push('<td>' +
                                                '<span class="text-muted">Preparing</span><br />' + 
                                              '</td>'); 
                                } else {
                                    rows.push('<td>' +
                                                '<span>Total: ' + row[column].total_count + '</span><br />' + 
                                                '<span class="text-green">Successed: ' + row[column].successed_count + '</span><br />' + 
                                                '<span class="text-red">Request failed: ' + row[column].request_failed_count + '</span><br />' + 
                                                '<span class="text-muted">FB Failed(uninstall/permission): ' + row[column].failed_count + '</span><br />' + 
                                              '</td>');    
                                }
                            } else {
                                rows.push('<td>' + row[column] + '</td>');
                            }
                        }

                        var btnGroup = '<td>' + 
                                        '<div class="btn-group">' + 
                                        '  <button type="button" class="btn btn-sm btn-success" data-push-id="' + row['id'] + '"><i class="fa fa-toggle-right"></i> Retry request failed</button>' +
                                        '</div>' +
                                        '</td>';

                        rows.push(btnGroup);
                        rows.push('</tr>');
                    }

                    if (rows.length > 0) {
                        $('#history-table tbody').html(rows.join());
                    }
                },
                error: function(xhr) {
                    
                }
            });
        }

        getPushHistories();
    });
</script>
{% endblock %}
